html,
body {
    height: 100%;
    background-color: #101010;
}

:root {
    --gutter: 15px;
    --blockh: 100px;
    --blockw: 100px;
    --blockm: 11px;
    --itemmarg: -140px;
    --vkw: 400px;
    --trapw: 600px;
    --verticies: 100px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #bc4a4a;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;

}

::-webkit-scrollbar-track {
    background-color: #32312e;
    box-shadow:0 0 3px #000 inset;
}

.page-wrap{
    min-width: fit-content;
    height: 98vh;
    display: flex;
    flex-direction: row;
}

.items{
    min-width: fit-content;
    height: 98vh;
    display: flex;
    flex-direction: row;
}

.wrapper{
    display: inline-block;
}

.white-cont{
    min-width: fit-content;
    height: 98vh;
    display: flex;
    flex-direction: row;
}
.item {
    max-width: 100vh;
    scroll-snap-align: center;
    max-height: fit-content;
    padding: calc(var(--gutter) / 2 * 1.5);
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.item-centered{
    max-width: fit-content;
    max-height: fit-content;
    scroll-snap-align: center;
    padding: calc(var(--gutter) / 2 * 1.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

.item > .item_bars{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: calc(var(--gutter) / 2 * 1.5);
}

.item > .item-options{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.option{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 150px;
    width: 500px;
    min-height: 60px;
    padding-top: 10px;
    background-color: #333333;
    margin-bottom: 30px;
}

.opt-text{
    font-family: "Open Sans Semibold";
    font-size: 1.6em;
    color: white;
}

.top-header{
    height: 150px;
    width: 650px;
    position: relative;
    background-image: url("https://sun9-35.userapi.com/bQbFKlb3yO7hFlSvG6dnP374tu2H78umTxFf4w/HZeIl3If9qc.jpg");
    background-size: cover;
    padding-top: 2.5%;
}
.header-text, .perduns{
    font-family: "Open Sans Semibold";
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 10px black;
}

.header-text{
    font-size: 2em;
}

.perduns{
    font-family: "Open Sans Extrabold";
    margin-top: -0.5em;
    font-size: 5em;
    color: #bc4a4a;
}

.bottom{
    z-index: 1;
    display: inline-block;
    align-content: center;
    height: 780px;
    width: 650px;
    position: relative;
    padding: 10px calc((650px - var(--blockw)*4 - var(--blockm)*3)/2) 0 calc((650px - var(--blockw)*4 - var(--blockm)*3)/2);
    background-color: #202020;
}

.tallblock{
    display: inline-block;
    position: relative;
    background-color: #313131;
    width: var(--blockw);
    height: calc(var(--blockh)*6 + var(--blockm)*5);
    float: right;
}
.name_block{
    padding-right: 5px;
}
.num_block{
    color: #a298c3;
}

.bar_cont{
    display: flex;
    position: relative;
    width: 150px;
    height: 300px;
    justify-content: center;
}

.bar, .bar75, .bar30, .bar40, .bar60, .bar80{
    position: relative;
    background: linear-gradient(to top, #00562f 50%, black 50%);
    height: 300px;
    border-radius: 12px;
    width: 30px;
    overflow: visible;
    border: solid 2px #00562f;
}


.bar80{
    background: linear-gradient(to top, #00562f 80%, black 20%);
}
.bar75{
    background: linear-gradient(to top, #00562f 75%, black 25%);
}
.bar30{
    background: linear-gradient(to bottom, black 70%, #00562f 30%);
}
.bar40{
    background: linear-gradient(to bottom, black 60%, #00562f 40%);
}
.bar60{
    background: linear-gradient(to top, #00562f 60%, black 40%);
}

.grey-text{
    position: absolute;
    bottom: 10px;
    font-family: "Open Sans Light";
    color: #ffffff;
    font-size: 1.5em;
}

.redblock, .greyblock, .big-greyblock, .big-greysquare, .big-redblock, .greyblock-r, .fat-redblock, .big-greyblock-1{
    display: inline-block;
    position: relative;
    height: var(--blockh);
    width: var(--blockw);
    margin: 0 var(--blockm) var(--blockm) 0;
    /*box-shadow: 0 0 5px black;*/
    float: left;
}

.redblock{
    background-color: #764a49;
}

.greyblock{
    background-color: #515151;
    padding: 7% 0;
}

.big-greyblock, .big-greyblock-1{
    background-color: #515151;
    width: calc(var(--blockw)*2 + var(--blockm));
    padding: 5% 0;
}

.big-greyblock-1{
    padding: 6.5% 3%;
}

.big-redblock{
    position: relative;
    background-color: #764a49;
    height: calc(var(--blockh)*2 + var(--blockm));
    float: right;
}

.big-greysquare{
    background-color: #515151;
    height: calc(var(--blockh)*2 + var(--blockm));
    width: calc(var(--blockw)*2 + var(--blockm));
    padding: 13% 2% 10% 2%;
}

.fat-redblock{
    background-color: #764a49;
    width: calc(var(--blockw)*3 + var(--blockm)*2);
    padding: 4% 4%;
}

.block-text{
    font-family: "Open Sans";
    font-size: 1.1em;
    color: #ffffff;
    text-align: center;
}

.caps{
    font-size: 1.7em;
}

.green-text{
    position: absolute;
    bottom: -20px;
    left: 5%;
    font-family: "Open Sans Semibold";
    font-size: 3.5em;
    color: #83db45;
}

.greyt, .greyt1{
    position: relative;
    margin-left: -185px;
    vertical-align: 20px;
    font-size: 0.4em;
    font-family: "Open Sans Light";
    color: #95999c;
}

.greyt1{
    vertical-align: 0;
    margin-left: -195px;
}

.furgal{
    position: relative;
    height: 100%;
    width: 1900px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.trap {
    width: 0;
    height: var(--trapw);
    border-right: var(--verticies) solid #636363;
    border-left: var(--trapw) solid #ffffff;
    border-top: var(--verticies) solid #a0a0a0;
    /*transform: rotate(-90deg) rotateX(180deg);*/
}

.triangle{
    width: 0;
    height: 0;
    border-left: var(--verticies) solid transparent;
    border-bottom: var(--verticies) solid #a0a0a0;
    border-right: var(--trapw) solid transparent;
}

.triangle1{
    width: 0;
    height: 0;
    border-left: var(--verticies) solid #636363;
    border-bottom: var(--verticies) solid transparent;
    transform: translateX(var(--trapw));
}
.trap > div{
    transform: translateX(-601px) translateY(-50px) skew(0, 9.44deg);
}


.smart{
    position: absolute;
    transform: skew(0, 9.44deg) translateY(110px) translateX(-70px);
    font-family: "Open Sans Extrabold";
    font-size: 3.5em;
    color: white;
}