html,
body {
    height: 100%;
    background-color: #101010;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0 9% 20px;
}

.top-header{
    display: inline-block;
    height: 250px;
    width: 800px;
    position: relative;
    background-image: url("https://sun9-35.userapi.com/bQbFKlb3yO7hFlSvG6dnP374tu2H78umTxFf4w/HZeIl3If9qc.jpg");
    background-size: cover;
    padding: 6% 10%;
}
.header-text, .perduns{
    font-family: "Open Sans Semibold";
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 10px black;
}

.header-text{
    font-size: 2.5em;
}

.perduns{
    font-family: "Open Sans Extrabold";
    margin-top: -0.5em;
    font-size: 6.9em;
    color: #bc4a4a;
}

.bottom-header{
    display: inline-block;
    height: 1300px;
    width: 800px;
    position: relative;
    padding: 40px 100px 20px;
    background-color: #202020;
    z-index: 1;
}

.redblock, .greyblock, .big-greyblock, .big-greysquare, .big-redblock, .greyblock-r, .fat-redblock, .big-greyblock-1{
    display: inline-block;
    position: relative;
    height: 180px;
    width: 180px;
    margin: 0 20px 20px 0;
    box-shadow: 0 0 5px black;
    float: left;
}

.redblock{
    background-color: #764a49;
}

.greyblock{
    background-color: #515151;
    padding: 8% 0;
}

.big-greyblock, .big-greyblock-1{
    background-color: #515151;
    width: 380px;
    margin: 0 0 20px 0;
    padding: 6% 0;
}

.big-greyblock-1{
    padding: 8% 7%;
}

.big-redblock{
    background-color: #764a49;
    height: 380px;
    float: right;
}

.big-greysquare{
    background-color: #515151;
    height: 380px;
    width: 380px;
    padding: 15% 2% 10% 2%;
}

.fat-redblock{
    background-color: #764a49;
    width: 580px;
    padding: 5.5% 6%;
}
.block-text{
    font-family: "Open Sans";
    font-size: 1.9em;
    color: #ffffff;
    text-align: center;
}
.caps{
    font-size: 1.8em;
}

.footer-text{
    position: relative;
    z-index: 2;
    margin-top: -80px;
    margin-left: -40px;
    columns: 400px 2;
    column-gap: 20px;
}
.green-text{
    font-family: "Open Sans Semibold";
    font-size: 5em;
    color: #84dc3f;
}

.price{
    font-family: "Open Sans Semibold";
    font-size: 2em;
    color: #84dc3f;
}
.rub{
    font-family: "Open Sans Semibold";
    font-size: 2.8em;
    color: #84dc3f;
}
.grey-text{
    font-family: "Open Sans";
    color: #a3a3a3;
    font-size: 0.8em;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}